

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
}

.background-container {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('static/background.jpg') no-repeat center center fixed; /* Adjusted background */
    background-size: cover;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.logo {
    max-width: 100px; /* Stylishly display the logo at the top of the form */
    margin: 10px auto;
    display: block;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50; /* Thales brand green, adjust if necessary */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.error {
    color: red;
    font-weight: bold;
}
